<!DOCTYPE html>
<html lang="en" class="no-js">

    <!-- BEGIN HEAD -->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body>
        {% block pagecontent %}

        {% endblock %}                
    </body>
    <!-- END BODY -->
</html>
